@page
@model Progress_Monitoring_System.Pages.AddNewMemberModel
@{
    ViewData["Title"] = "Add New Member";
}

<h5 class="m-2 text-center">@ViewData["Title"]</h5>

<div class="d-flex justify-content-center align-items-center">
    <div class="card shadow-sm" style="width:400px;">
        <div class="card-body">
            <form method="post">
                <!-- Username -->
                <div class="form-group mb-3">
                    <label for="userName" class="form-label">Username</label>
                    <input type="text" class="form-control" id="Username" name="Username" asp-for="NewMember.Username" required />
                    <div class="invalid-feedback">
                        Please provide a username.
                    </div>
                    <span asp-validation-for="NewMember.Username" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label for="userName" class="form-label">Full name</label>
                    <input type="text" class="form-control" id="UserFullName" name="UserFullName" asp-for="NewMember.UserFullName" required />
                    <div class="invalid-feedback">
                        Please provide a fullname.
                    </div>
                    <span asp-validation-for="NewMember.UserID" class="text-danger"></span>
                </div>

                <!-- Email -->
                <div class="form-group mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="UserEmail" asp-for="NewMember.UserEmail" required />
                    <div class="invalid-feedback">
                        Please provide a valid email address.
                    </div>
                    <span asp-validation-for="NewMember.UserEmail" class="text-danger"></span>
                </div>

                <!-- Password -->
                <div class="form-group mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="Password" asp-for="NewMember.Password" required />
                    <div class="invalid-feedback">
                        Please provide a password.
                    </div>
                    <span asp-validation-for="NewMember.Password" class="text-danger"></span>
                </div>

                <!-- User Role Dropdown -->
                <div class="form-group mb-3">
                    <label for="userRole">User Role</label>
                    <select class="form-control" id="userRole" name="RoleID" asp-for="NewMember.RoleID" required>
                        <option value="">Select Role</option>
                        @foreach (var role in Model.UserRoles)
                        {
                            <option value="@role.RoleID">@role.RoleName</option>
                        }
                    </select>
                    <span asp-validation-for="NewMember.RoleID" class="text-danger"></span>
                </div>

                <!-- Submit Button -->
                <div class="d-grid mb-3">
                    <button type="submit" class="btn btn-primary btn-lg">Add Member</button>
                </div>
            </form>
        </div>
    </div>
</div>


@* Validation Scripts *@
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
} 