@page
@model Progress_Monitoring_System.Pages.Document.DeleteModel

<h3>Are you sure you want to delete this task?</h3>

<p>
    <strong>ID:</strong> @Model.UatFat.UatFatID <br />
    <strong>Description:</strong> @Model.UatFat.UatFatDescription <br />
</p>

@if (Model.IsReferenced)
{
    <div class="alert alert-danger">
        This task cannot be deleted because it is referenced in the UploadVersion .
    </div>
}

<form method="post">
    <button type="submit" class="btn btn-danger" @(Model.IsReferenced ? "disabled" : "")>Delete</button>
    <a href="@Url.Page("/Document/Index")" class="btn btn-secondary">Cancel</a>
</form>
